@import '/app/variables.module.scss';

.launchConsequences {
  position: relative;
  display: flex;
  gap: 44px;
  margin-top: 64px;
  .info {
    width: 100%;
    padding: 32px;
    border: 2px solid $attack-green;
    background: $attack-dark-green-select-60;
    .dataContainer {
      @include flex-column(16px);
      margin-top: 64px;
    }
    h3 {
      color: $white;
      font-variant-numeric: slashed-zero;
      @include set-font-size-weight(50px, 400);
      line-height: 120%; /* 60px */
    }
  }
}

.launchConsequences.paragraphIsOpen {
  .info {
    height: 548px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 30px;
    }
    &::-webkit-scrollbar-track {
      margin-block: 115px;
      border-radius: 10px;
      background-color: $unvisible;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $white;
      opacity: 0.2;
      border-radius: 10px;
      border: 14px solid $unvisible;
      background-clip: padding-box;
      -webkit-border-radius: 20px;
    }
  }
}

.launchConsequences.history {
  margin-top: 0;
}
