@import '/app/variables.module.scss';

.launchConsequences {
  position: relative;
  display: flex;
  gap: 22px;
  margin-top: 30px;
  .imgAndModal {
    @include set-width-height(493px, 255px);
  }
  .info {
    width: 463px;
    padding: 15px;
    border: 2px solid $attack-green;
    background: $attack-dark-green-select-60;
    .dataContainer {
      @include flex-column(7px);
      margin-top: 30px;
    }
    h3 {
      color: $white;
      font-variant-numeric: slashed-zero;
      @include set-font-size-weight(23px, 500);
      line-height: 120%; /* 60px */
    }
  }
  .info.protectMode {
    border: 2px solid $protect-blue;
    background: $protect-dark-blue-select-60;
  }
}

.launchConsequences.paragraphIsOpen {
  .info {
    height: 548px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 30px;
    }
    &::-webkit-scrollbar-track {
      margin-block: 115px;
      border-radius: 10px;
      background-color: $unvisible;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $white;
      opacity: 0.2;
      border-radius: 10px;
      border: 14px solid $unvisible;
      background-clip: padding-box;
      -webkit-border-radius: 20px;
    }
  }
}

.launchConsequences.history {
  margin-top: 0;
}
