@import '/app/variables.module.scss';

.paragraph {
  position: relative;
  padding-right: 12px;
  margin-top: 15px;
  color: $white-60;
  font-variant-numeric: slashed-zero;
  @include set-font-size-weight(17px, 500);
  line-height: 120%; /* 43.2px */
  letter-spacing: 0.169px;
  text-align: start;
  @include showEllipsisInTheEnd(3, 422px);
}

.paragraph.isOpen {
  padding-right: unset;
  overflow: unset;
  text-overflow: unset;
  display: block;
}
