@import '/app/variables.module.scss';

.header {
  width: 100%;
  padding: 10px 20px 10px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $attack-dark-green-focus;
  .leftPart {
    display: flex;
    gap: 40px;
    padding-left: 16px;
    align-items: center;
    h2.actionTitle {
      @include TypoH2;
      line-height: 86%;
    }
    .actionStatus {
      color: $attack-green;
      font-variant-numeric: slashed-zero;
      text-transform: uppercase;
      @include TypoBodySmall;
      @include flex-center;
    }
    .actionStatus.protection {
      color: $protect-blue;
    }
  }
  .rightPart {
    max-height: 23px;
    display: flex;
    gap: 18px;
    align-items: center;
    button {
      padding-top: 5px;
    }
    .trashBtn {
      display: none;
    }
    .completingDate {
      display: flex;
      gap: 11px;
      align-items: center;
      span {
        color: $attack-green;
        font-variant-numeric: slashed-zero;
        text-transform: uppercase;
        @include TypoBodySmall;
      }
    }
    .completingDate.protection {
      span {
        color: $protect-blue;
      }
    }
  }
}

.header.cursorPointer {
  cursor: pointer;
}

.header.isProtecting {
  background-color: $protect-dark-blue-focus;
}
