@import '/app/variables.module.scss';

.container {
  height: 100vh;  
  .two_lines {
    position: absolute;
    right: 0;
    top: 43px;
  }
  .places {
    max-height: 584px;
    max-width: 403px;
    margin-top: 86px;
    padding-right: 35px;
    @include hideScrollBar;
  }
  .places::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}
