@import '/app/variables.module.scss';

.buttonBase {
  width: 243px;
  height: 99px;
  @include TypoBodyBig;
  position: relative;
  color: #FFF;
  border: 3px solid $mid-gray-background;
  padding: 10px 20px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}

.buttonActive {
  width: 243px;
  height: 99px;
  @include TypoBodyBig;
  border: 3px solid $attack-green;
  position: relative;
  padding: 10px 20px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  color: $attack-green;
}

.spanBase{
  width: 12px;
  height: 12px;
  position: absolute;
  background: $mid-gray-background;
  border-color: $mid-gray-background;
}
.spanActive{
  width: 12px;
  height: 12px;
  position: absolute;
  background: $attack-green;
  border-color: $attack-green;
}
.buttonDisabled {
  opacity: 0.4;
  cursor: not-allowed;
}