@import '/app/variables.module.scss';

.buttonBase {
  @include set-width-height(auto, 42px);
  @include TypoBodyBig;
  @include set-font-size-weight(16px, 600);
  position: relative;
  color: $white;
  border: 3px solid $mid-gray-background;
  padding: 10px 17px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  opacity: 0.6;

  &:hover {
    opacity: 0.8;
  }
}

.buttonActive,
.protectModeActive {
  @include set-width-height(auto, 42px);
  @include TypoBodyBig;
  @include set-font-size-weight(16px, 600);
  padding: 10px 17px;
  border: 3px solid $attack-green;
  position: relative;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  color: $attack-green;
  text-transform: uppercase;
}

.protectModeActive {
  border: 3px solid $protect-blue;
  color: $protect-blue;
  background: $protect-dark-blue-select;
}

.spanBase {
  width: 6px;
  height: 6px;
  position: absolute;
  background: $mid-gray-background;
  border-color: $mid-gray-background;
}
.spanActive,
.protectSpanActive {
  width: 6px;
  height: 6px;
  position: absolute;
  background: $attack-green;
  border-color: $attack-green;
}
.protectSpanActive {
  background: $protect-blue;
  border-color: $protect-blue;
}
.buttonDisabled {
  opacity: 0.4;
  cursor: not-allowed;
}
