@import '/app/variables.module.scss';

.news {
  margin: 224px 177px 260px 255px;
  position: relative;
  z-index: 14;
  h1 {
    position: relative;
    color: $white;
    @include set-font-size-weight(78px, 400);
    line-height: 120%; /* 93.6px */
    z-index: 12;
  }
  .container {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
  }
}
