@import '/app/variables.module.scss';

.news {
  margin: 100px 84px 260px 120px;
  position: relative;
  z-index: 14;
  h1 {
    position: relative;
    color: $white;
    @include set-font-size-weight(36px, 500);
    line-height: 120%; /* 93.6px */
    z-index: 12;
  }
  .container {
    margin-top: 40px;
    display: flex;
    gap: 50px;
    justify-content: space-between;
  }
}
