@import "/app/variables.module";
.sidenav {
  width: 0;
  position: fixed;
  z-index: 1;
  right: 20px;
  background-color: $black-80;
  overflow-x: hidden;
  transition: 0.5s;
  height: 100%;
  top: 55px;
  &Title{
   @include flex-between;
    font-size: 26.36px !important;
    font-weight: 600 !important;
    line-height: 31.63px !important;
    text-align: left !important;
  }
  &AccordionSummary{
    @include AccordionSummary;
  }
  &AddConfirm{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: fixed;
    bottom: 0;
    background-repeat: no-repeat;
    height: 218px;
    width: 100%;
    z-index: 4;
    >a{
      padding: 0 32px;
      @include flex-between;
      width: 660px;

    }
    >span{
      padding: 32px 0 0 32px;
    }
    &Image{
      position: absolute;
      //backdrop-filter: blur(25px);
      z-index: -1;
    }
  }
  &Square{
    @include flex-start;
    gap: 30px;
  }
  &DelayedWrraper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    >div{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
    }
    >div>div{
      width: 679px;
      @include flex-between;
    }
  }
  &Wrapper{
    display: flex;
    flex-direction: column;
    width: 328px;
    gap: 20px;
  }
}
