@import "/app/variables.module";
.sidenav {
  width: 0;
  position: fixed;
  z-index: 1;
  top: 160px;
  right: 0;
  background-color: $black-80;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  height: 100%;
  &Title{
   @include flex-between;
    padding-left: 24px;
  }
  &AccordionSummary{
    @include AccordionSummary;
  }
  &AddConfirm{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: fixed;
    bottom: 0;
    background-image: url(~/public/onboarding/backgroundImgGreen.svg);
    background-repeat: no-repeat;
    height: 218px;
    width: 100%;
    padding: 32px;
  }
  &Square{
    @include flex-start;
    gap: 30px;
  }
  &Wrapper{
    display: flex;
    flex-direction: column;
    width: 672px;
    gap: 48px;
  }
}
