@import '/app/variables.module.scss';

.searchInput {
  border: 2px solid $white-40;
  background: $card;
  display: flex;
  margin-bottom: 8px;
  .closeXButton {
    @include set-width-height(23px, 23px);
  }
}
