.backArrow,
.backBtnShape,
.forwardArrow,
.forwardBtnShape {
  position: absolute;
  z-index: 9;
}

.backArrow {
  top: 865px;
  left: 57px;
}
.backBtnShape {
  top: 568px;
  left: 23px;
}
.forwardArrow {
  right: 45px;
  top: 865px;
}
.forwardBtnShape {
  right: 23px;
  top: 568px;
}
