@import '/app/variables.module.scss';

.arrow {
  position: absolute;
  top: 20px;
  right: 54px;
}

.arrow.paragraph {
  top: 8px;
  right: 0px;
}

.arrow.paragraph.isOpen {
  right: -15px;
}

.arrow.inAttackWithDataCard {
 right: 15px; 
}
