@import '/app/variables.module.scss';

.passwordError {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  @include containerOnly;
  &Wrapper {
    position: fixed;
    padding: 180px 24px 0 0;
    width: 100%;
    margin: auto;
    z-index: 9;
  }
}
