@import '/app/variables.module.scss';

.historyAndNewsBtns {
  display: flex;
  gap: 24px;
  position: fixed;
  left: 40px;
  bottom: 56px;
  z-index: 9;
  button {
    padding: 14px 22px;
    color: $white;
    @include set-font-size-weight(14px, 400);
    line-height: 120%; /* 40.8px */
    letter-spacing: -0.34px;
    text-transform: uppercase;
    border: 2px solid $light-gray;
  }
}
