@import '/app/variables.module.scss';

.historyAndNewsBtns {
  display: flex;
  gap: 12px;
  position: fixed;
  left: 50px;
  bottom: 28px;
  z-index: 9;
  button {
    padding: 9.42px 22px;
    color: $white;
    @include set-font-size-weight(16px, 400);
    line-height: 120%; /* 40.8px */
    letter-spacing: -0.34px;
    text-transform: uppercase;
    border: 2px solid $light-gray;
  }
  button.historyCount {
    padding: 4px;
    background: $light-gray;
    color: $black;
    font-family: 'TT Lakes';
    @include set-width-height(42px, 42px);
    @include set-font-size-weight(16px, 600);
    line-height: 120%; /* 19.205px */
    letter-spacing: -0.16px;
  }
}
