@import '/app/variables.module.scss';

.damageLevel {
  &TheGorge {
    padding: 32px;
    padding-right: 40px;
    background: $card;
    display: flex;
    flex-direction: column;
    gap: 32px;
    &List {
      display: flex;
      flex-direction: column;
      gap: 4px;
      > li > button {
        width: 100%;  
      }
      > li.selected > button {
        color: $attack-green-40 !important;
        background-color: $attack-dark-green-select-60 !important;
      }
      > li.selected.isProtecting > button {
        color: $protect-blue !important;
        background-color: $protect-dark-blue-select !important;
      }
      > li > button > span {
        width: 100%;
        @include flex-between;
      }
      &Item {
        @include flex-start;
        gap: 32px;
      }
    }
  }
}
