@import "/app/variables.module";
.onboarding{
  position: fixed;
  z-index: 10;
  left: 1130px;
  &Wrapper{
    display: flex;
    padding: 26px 0 0 51px;
    position: relative;
    z-index: 3;
  }
  &Buttons{
    display: inline-flex;
    gap: 24px;
  }
  &Input{
    border: 2px solid var(--grayscale-white-40, rgba(255, 255, 255, 0.40));
    background: var(--Grayscale-Card, #080808);
    display: flex;
    margin-bottom: 16px;
  }
  &Accordion {
    &Wrapper{
      position: absolute;
      top: 175px;
      width: 354px;
    }
    &Details{
      display: flex;
      flex-wrap: wrap;
      column-gap: 8px;
      row-gap: 16px;
      padding-left: 20px;
      align-items: center;
    }
    &DetailsIndustries{
      display: flex;
      padding-bottom: 40px;
      flex-direction: column;
      align-items: flex-start;
      gap: 17px;
      align-self: stretch;
      >div{
        display: flex;
        // padding: 24px 40px 24px 88px;
        align-items: center;
        gap: 8px;
        align-self: stretch;
      }
    }
    &Column{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
  &TheGorge {
    display: flex;
    flex-direction: column;
    gap: 32px;
    &List{
      display: flex;
      flex-direction: column;
      gap: 4px;
      list-style: none;
      >li>button {
        width: 100%;
      }
      >li>button>span{
        width: 100%;
        @include flex-between;
      }
      &Item{
        @include flex-start;
        align-items: center;
        gap: 32px;
      }
    }
  }

  &Attack{
    // width: 540px;
    position: absolute;
    left: 50%;
    top: 26px;
    transform: translate(-50%);
    gap: 15px;
    // margin-left: 310px;
    @include flex-between;
    >button{
      @include TypoBodyBig;
      text-transform: uppercase;
      // font-family: "TT";
      font-size: 16px;
      font-weight: 500;
      line-height: 19.21px;
      letter-spacing: 0.01em;
      text-align: right;
    }
    >div>img:nth-child(1){
      background-color: $attack-green;
      width: 41px;
      height: 41px;
    }
    >div>img:nth-child(2){
      border: 3px solid $mid-dark-gray;
      width: 41px;
      height: 41px;
    }
  }

  .simple-keyboard {
    max-width: 850px;
  }
  .simple-keyboard.myTheme1 {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .simple-keyboard.myTheme1 .hg-button {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
  }

  .simple-keyboard.myTheme1 .hg-button:active {
    background: #1c4995;
    color: white;
  }

  #root .simple-keyboard.myTheme1 + .simple-keyboard-preview {
    background: #1c4995;
  }
&Globus{
  position: absolute;
  bottom: 10%;
  left: 18%;
}
}