@import '/app/variables.module.scss';

.date {
  display: flex;
  gap: 42px;
  span {
    color: $mid-gray;
    @include newsCardTextStyles;
  }
  span:nth-child(2) {
    position: relative;
    img {
      position: absolute;
      left: -24px;
      top: -4px;
    }
  }
}
