@import '/app/variables.module.scss';

.newsCard {
  @include flex-column(11px);
  h2,
  p {
    line-height: 120%; /* 38.4px */
  }
  h2 {
    color: $white;
    @include set-font-size-weight(15px, 500);
    max-height: 76.78px;
    max-width: 498px;
    overflow: hidden;
  }
  p {
    margin-top: 7px;
    color: $mid-gray;
    font-variant-numeric: slashed-zero;
    @include set-font-size-weight(15px, 500);
    @include showEllipsisInTheEnd(3, 448px);
  }
}

.newsCard.pTwoLines {
  p {
    -webkit-line-clamp: 2;
  }
}
