@import '/app/variables.module.scss';

.slashesTop,
.slashesBottom {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 0 78px;
  .img {
    display: block;
  }
}
.slashesTop {
  top: 90px;
}

.slashesBottom {
  bottom: 84px;
}
