@import '/app/variables.module.scss';

.actionCard {
  position: relative;
  background-color: $black-80;
  .actionImg {
    position: absolute;
    z-index: 12;
    top: 2px;
    left: -56px;
  }
}

.actionCard.fromDetails {
  position: static;
}
