@import '/app/variables.module.scss';

.regionAndOtherButtons {
  position: fixed;
  display: inline-flex;
  gap: 24px;
  z-index: 10;
  left: 40px;
  top: 56px;
  .regionAndOtherButtonsInput {
    .closeXButton {
      @include set-width-height(48px, 48px);
      padding-top: 5px;
    }
  }
  .searchResult {
    position: relative;
    background-color: $card;
    min-height: 292px;
    max-height: 960px;
    padding: 32px 0 32px 32px;
    @include scrollStyles;
    .slashes_90_degree {
      position: absolute;
      right: 0;
      top: 113px;
    }
    h5 {
      color: $white;
      font-variant-numeric: slashed-zero;
      @include set-font-size-weight(34px, 600);
      line-height: 120%; /* 40.8px */
      letter-spacing: 1.02px;
      text-transform: uppercase;
    }
  }
  .searchResult.displayNone {
    display: none;
  }
  .hideSelectionPanel {
    display: none;
  }
  dialog {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $black;
    padding: 58px 0;
  }
  &Input {
    border: 2px solid var(--grayscale-white-40, rgba(255, 255, 255, 0.4));
    background: var(--Grayscale-Card, #080808);
    display: flex;
    margin-bottom: 16px;
  }
}
