@import '/app/variables.module.scss';

.SecondarySmall {
  border-right: 2px solid #787878;
  border-left: 2px solid #787878;
  position: relative;
  cursor: pointer;
  padding: 16px 24px;
  @include TypoBodyBig;
  &::after {
    content: '';
    width: 16px;
    position: absolute;
    height: 2px;
    background: #787878;
    bottom: 0;
    left: 0;
  }
  &::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    background: #787878;
    bottom: 0;
    right: 0;
  }
  > span {
    &::before {
      content: '';
      width: 16px;
      position: absolute;
      height: 2px;
      background: #787878;
      top: 0;
      left: 0;
    }
  }
  > span {
    &::after {
      content: '';
      position: absolute;
      width: 16px;
      height: 2px;
      background: #787878;
      top: 0;
      right: 0;
    }
  }
}

.regionAndOtherButtons {
  position: fixed;
  @include flex-between;
  gap: 10px;
  z-index: 10;
  left: 50px;
  top: 28px;
  .searchResult {
    position: relative;
    background-color: $card;
    min-height: 292px;
    max-height: 960px;
    padding: 32px 0 32px 32px;
    @include scrollStyles;
    .slashes_90_degree {
      position: absolute;
      right: 0;
      top: 113px;
    }
    h5 {
      color: $white;
      font-variant-numeric: slashed-zero;
      @include set-font-size-weight(34px, 600);
      line-height: 120%; /* 40.8px */
      letter-spacing: 1.02px;
      text-transform: uppercase;
    }
  }
  .searchResult.displayNone {
    display: none;
  }
  .hideSelectionPanel {
    display: none;
  }
  dialog.keyboard {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $black;
    padding: 27px 0;
    border: none;
  }
}
