@import '/app/variables.module.scss';

.selectFromTwo {
  position: fixed;
  z-index: 9;
  left: 542px;
  top: 26px;
  &Attack {
    width: 255px;
    @include flex-between;
    > button {
      @include TypoBodyBig;
      font-size: 16px;
      text-transform: uppercase;
    }
    .button_1.disabled,
    .button_2.disabled {
      color: $white-40;
    }
    > div > img:nth-child(1) {
      background-color: $attack-green;
      cursor: pointer;
    }
    > div > img:nth-child(2) {
      //border: 3px solid $mid-dark-gray;
      cursor: pointer;
    }
  }
  &ModalBottom {
    display: flex;
    width: 200px;
    left: -40%;
    gap: 22px;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 70px;
    background-color: rgba(1, 2, 2, 0.5);
    > div {
      @include TypoBodySmall;
      text-transform: uppercase;
    }
  }
  &ModalBottomRight {
    display: flex;
    width: 200px;
    right: -45%;
    gap: 22px;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 70px;
    background-color: rgba(1, 2, 2, 0.5);
    > div {
      @include TypoBodySmall;
      text-transform: uppercase;
    }
  }
}

.selectFromTwo.mapOrGlobe {
  top: unset;
  bottom: 27px;
}
