@import '/app/variables.module.scss';

.selectFromTwo {
  position: fixed;
  z-index: 9;
  left: 1130px;
  &Attack {
    width: 540px;
    @include flex-between;
    > button {
      @include TypoBodyBig;
      text-transform: uppercase;
    }
    .button_1.disabled,
    .button_2.disabled {
      color: $white-40;
    }
    > div > img:nth-child(1) {
      background-color: $attack-green;
      cursor: pointer;
    }
    > div > img:nth-child(2) {
      //border: 3px solid $mid-dark-gray;
      cursor: pointer;
    }
  }
  &ModalBottom{
    display: flex;
    width: 409px;
    left: -214px;
    gap: 32px;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 160px;
    background-color: rgba(1, 2, 2, 0.50);
    >div{
      @include TypoBodySmall;
      text-transform: uppercase;
    }
  }
  &ModalBottomRight{
    display: flex;
    width: 409px;
    right: -250px;
    gap: 32px;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 160px;
    background-color: rgba(1, 2, 2, 0.50);
    >div{
      @include TypoBodySmall;
      text-transform: uppercase;

    }
  }
}

.selectFromTwo.mapOrGlobe {
  bottom: 56px;
}
