@import '/app/variables.module.scss';

.grid {
  position: absolute;
  top: 0;
  max-width: 1344px;
  overflow: hidden;
}

.grid.gridDisplayNone {
  display: none;
}

.noiseImg {
  position: absolute;
}

.vignette {
  z-index: 1;
  box-shadow: 0 0 400px rgba(0,0,0,0.9) inset;
  position: absolute;
  top: 0;
  max-width: 1344px;
  overflow: hidden;
}
