.DateTime {
  position: fixed;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 40.8px */
  letter-spacing: 0.34px;
  text-transform: uppercase;
  right: 45px;
  top: 56px;
  z-index: 13;
}

.DateTime.displayNone {
  display: none;
}
