.DateTime {
  min-width: 250px;
  position: absolute;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 40.8px */
  letter-spacing: 0.34px;
  text-transform: uppercase;
  right: 75px;
  top: 56px;
  z-index: 9999;
}
