@import '/app/variables.module.scss';

.accordionSummary {
    @include AccordionSummary;
    h3 {
      color: $mid-dark-gray;
    }
  }
.countiesWithOutFlag{
  max-height: 400px;
  @include scrollStyles;
  @include hideScrollBar;
  >div{
    @include flex-between;
    align-items: center;
  }
}