@import '/app/variables.module.scss';

.accordionSummary {
  @include AccordionSummary;
  h3 {
    color: $mid-dark-gray;
  }
}
.accordionWiOutFlag {
  &::after {
    @include afterLine;
    background: $attack-green-80;
  }

  &Disable {
    &::after {
      @include afterLine;
      background: $mid-dark-gray;
    }
  }
  &Protected {
    &::after {
      @include afterLine;
      background: $protect-blue-80;
    }
  }
}
.accordionWiOutFlag.isProtecting {
  &::after {
    background-color: $protect-blue;
  }
}
.countiesWithOutFlag {
  max-height: 400px;
  @include scrollStyles;
  @include hideScrollBar;
  > div {
    @include flex-between;
    align-items: center;
  }
}
