@import '/app/variables.module.scss';

.alphabetLetter {
  margin-top: 36px;
  padding: 10px 18px 10px 12px;
  color: $light-gray;
  font-variant-numeric: slashed-zero;
  @include set-font-size-weight(17px, 500);
  line-height: 120%; /* 45.6px */
  letter-spacing: 0.38px;
  text-transform: uppercase;
}

.alphabetLetter.firstChild {
  margin-top: 0;
}
