@import '/app/variables.module.scss';

.container {
  width: 100%;
  .option {
    width: 100%;
    opacity: 0.6;
    display: block;
    padding: 24px;
    padding-left: 76px;
    color: $white;
    font-variant-numeric: slashed-zero;
    @include set-font-size-weight(34px, 400);
    line-height: 120%; /* 40.8px */
    letter-spacing: 0.34px;
    text-transform: uppercase;
    text-align: start;
  }
  .option.selected {
    color: $attack-green-40;
    background-color: $attack-dark-green-select-60;
  }
  .option.selected.isProtecting {
    color: $protect-blue;
    background-color: $protect-dark-blue-select;
  }
  .option.displayNone {
    display: none;
  }
}

.container.displayNone {
  display: none;
}
