@import '/app/variables.module.scss';

.container.fromSideNav {
  overflow-y: visible;
  max-height: unset;
}

.container {
  width: 100%;
  max-height: 214px;
  @include flex-column(2px);
  @include hideScrollBar;
  .option {
    width: 330px;
    opacity: 0.6;
    display: block;
    padding: 12px 18px 12px 42px;
    color: $white;
    font-variant-numeric: slashed-zero;
    @include set-font-size-weight(16px, 500);
    line-height: 120%; /* 40.8px */
    letter-spacing: 0.34px;
    text-transform: uppercase;
    text-align: start;
    &ContainerSideNav {
      @include flex-between;
    }
  }
  .option.selected {
    color: $attack-green-40;
    background-color: $attack-dark-green-select-60;
  }
  .option.selected.isProtecting {
    color: $protect-blue;
    background-color: $protect-dark-blue-select;
  }
  .option.displayNone {
    display: none;
  }
}
.hasImage {
  opacity: 1 !important;
  display: flex !important;
  align-items: center;
  gap: 10px;
  padding: 10px;
  > img {
    margin-right: 20px;
  }
}
.container.displayNone {
  display: none;
}
