@import '/app/variables.module.scss';

.queueModal {
  position: fixed;
  bottom: 170px;
  left: 75px;
  width: 508px;
  background: $card;
  padding: 0 0 24px 16px;
  h5,
  a,
  span {
    color: $white;
    font-variant-numeric: slashed-zero;
    line-height: 120%; /* 33.6px */
    text-transform: uppercase;
  }
  h5 {
    padding: 30px 0 29px 16px;
    @include set-font-size-weight(34px, 600);
    letter-spacing: 1.02px;
  }
  a,
  span {
    @include set-font-size-weight(28px, 400);
    letter-spacing: 0.28px;
  }
  .attack {
    color: $attack-green;
  }
  .protection {
    color: $protect-blue;
  }
  a {
    margin-top: 56px;
    display: inline-block;
    border: 2px solid $white;
    padding: 16px 24px;
  }
  div {
    padding: 12px 0 0 16px;
    @include flex-column(16px);
  }
  .slashes_90_degree {
    position: absolute;
    right: 0;
    bottom: 82px;
  }
}
