@import url('https://fonts.cdnfonts.com/css/tt-lakes-neue-trial');
@import '/app/variables.module.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: #ffffff;
  background-color: $main-dark;
  font-variant-numeric: slashed-zero;
}

:root {
  background-color: $main-dark;
  font-family: 'TT Lakes Neue Trial', sans-serif;
}
.container {
  display: flex;
  max-width: 2752px;
  padding: 24px;
  width: 100%;
  max-height: 1704px;
  height: 100%;
  justify-content: center;
  background: radial-gradient(
    36.85% 48.48% at 50% 50%,
    #384d4a 0%,
    rgba(56, 77, 74, 0) 100%
  );
}
.container::after {
  content: '';
  position: absolute;
  width: 2752px;
  top: 24px;
  left: 24px;
  /*background-image: url("/public/home/ContainerTop.svg");*/
}

h1 {
  font-size: 78px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 93.6px */
}
h2 {
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 67.2px */
}
h3{
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
h4 {
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 45.6px */
  letter-spacing: 0.38px;
  text-transform: uppercase;
}
h5 {
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 40.8px */
  letter-spacing: 1.02px;
  text-transform: uppercase;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  outline: none;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  cursor: pointer;
}
.ModalButtons {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 8px;
  padding-top: 22px;
}
.ModalButtons > button {
  display: flex;
  padding: 7.5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 13.18px;
  font-weight: 500;
  line-height: 15.82px;
  letter-spacing: 0.01em;
  text-align: center;
  text-transform: uppercase;
}
.ModalButton1 {
  border: 2px solid #fff;
  width: 104px;
}
.Green{
  @include TypoBodyBig;

  >span>span>button {
    text-transform: uppercase;
  }
  color: $attack-green-40;
  background-color: $attack-green-40;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.21px;
  letter-spacing: 0.01em;
  text-align: left;
}

.SecondarySmall {
  text-decoration: none;
  border-right: 2px solid #787878;
  border-left: 2px solid #787878;
  position: relative;
  cursor: pointer;
  padding: 7.5px;
  width: 118px;
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    text-transform: uppercase;
  }
  @include TypoBodyBig;
  &::after{
    content: '';
    width: 16px;
    position: absolute;
    height: 2px;
    background:  #787878;
    bottom: 0;
    left: 0;
  }
  &::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    background:  #787878;
    bottom: 0;
    right: 0;
  }
  >span{
    color: #fff;
    font-size: 13.18px;
    font-weight: 500;
    line-height: 15.82px;
    letter-spacing: 0.01em;
    text-align: left;
    text-transform: uppercase;
    &::before {
      content: '';
      width: 16px;
      position: absolute;
      height: 2px;
      background: #787878;
      top: 0;
      left: 0;
    }
  }
  >span{
    &::after{
      content: '';
      position: absolute;
      width: 16px;
      height: 2px;
      background:  #787878;
      top: 0;
      right: 0;
    }
  }
}
.SecondarySmallDisable{
  // @extend .SecondarySmall;
  border: 2px solid #FFF;
  width: 104px;
  font-size: 13.18px;
  font-weight: 500;
  line-height: 15.82px;
  letter-spacing: 0.01em;
  text-align: left;
  opacity: 0.4;
}
.SecondarySmallShine__animation {
  position: absolute;
  pointer-events: none;
  z-index: 1;
  top: -34px;
  left: -43px;
  opacity: .6;
  width: 250px;
  height: 100px;
  /* transform: translate(-50%, -50%); */
  background: linear-gradient(118.69deg, #0E0E0E 40.31%, rgba(14, 14, 14, 0) 50.96%, #0E0E0E 65.34%);
  animation: shine 1s infinite;
}
.SecondarySmallShine {
    border-top: 2px solid rgba(255, 255, 255, 1);
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    position: relative;
    cursor: pointer;
    padding: 5px 15px;
    overflow: hidden;
    color: #fff;
    opacity: .8;
    @include TypoBodyBig;
    font-size: 17.89px;
    font-weight: 500;
    line-height: 21.46px;
    letter-spacing: 0.01em;
    text-align: left;
    &::before {
      content: '';
      position: absolute;
      width: 2px;
      height: 5px;
      background: rgba(255, 255, 255, 1);
      top: 0;
      right: 0;
    }
    &::after {
      content: '';
      position: absolute;
      width: 2px;
      height: 5px;
      background: rgba(255, 255, 255, 1);
      bottom: 0;
      right: 0;
    }
    &:focus{
      border-top: 1px solid #5ED1C5;
      border-bottom: 1px solid #5ED1C5;
      border-right: 2px solid #5ED1C5;
      border-left: 2px solid #5ED1C5;
      background:  #011A17;
      color: #5ED1C5;
    }
    &>span>span::after {
      // content: '';
      // position: absolute;
      // top: -50%; /* Position the shine above the button */
      // left: -50%;
      // width: 100%; /* Width must be enough to cover the entire button */
      // height: 200%;
      // background: linear-gradient(118.69deg, #0E0E0E 40.31%, rgba(14, 14, 14, 0) 50.96%, #0E0E0E 65.34%);
      // animation: shine 3s infinite;
    }
    // &::before, > span::before, > span::after {
    //   content: '';
    //   position: absolute;
    //   width: 16px;
    //   height: 2px;
    //   bottom: 0;
    // }
    // &::before {
    //   right: 0;
    // }
    // > span::before {
    //   top: 0;
    //   left: 0;
    // }
    // > span::after {
    //   top: 0;
    //   right: 0;
    // }
}

  @keyframes shine {
    0% {
      transform: translateX(-111px);
    }
    100% {
      transform: translateX(39px);
    }
  }
  .AccordionsWrap{
    @include flex-start;
    flex-direction: column;
    gap: 5px;
  }

  .subregion-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.21px;
    letter-spacing: 0.03em;
    text-align: left;
  }

  .AccordionNested {
    border-top: 2px solid rgba(255, 255, 255, 0.4);
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    position: relative;
    padding: 5px 15px;
    opacity: .2;
    font-size: 17.89px;
    font-weight: 500;
    line-height: 21.46px;
    letter-spacing: 0.01em;
    text-align: left;
  }
  .AccordionNested::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 5px;
    background: rgba(255, 255, 255, 0.4);
    bottom: 0;
    right: 0;
  }
  .AccordionNested::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 5px;
    background: rgba(255, 255, 255, 0.4);
    top: 0;
    right: 0;
  }
  .AccordionNested-wrapper {
    position: relative;
  }
  .AccordionNested-wrapper_USA {
    opacity: .8;
    overflow: hidden;
  }
  .AccordionNested-helper-1 {
    position: absolute;
    width: 2px;
    height: 5px;
    background: rgba(255, 255, 255, 0.4);
    top: 0;
    left: 0;
  }
  .AccordionNested-helper-2 {
    position: absolute;
    width: 2px;
    height: 5px;
    background: rgba(255, 255, 255, 0.4);
    bottom: 0;
    left: 0;
  }
  .AccordionNested-helper-1_USA {
    background: rgba(255, 255, 255,1);
  }
  .AccordionNested-helper-2_USA {
    background: rgba(255, 255, 255,1);
  }
  .sidenav__title {
    font-size: 26.36px !important;
    font-weight: 600 !important;
    line-height: 31.63px !important;
    text-align: left !important;
  }
  .accordion-summary-title {
    font-size: 23.54px;
    font-weight: 500;
    line-height: 28.24px;
    text-align: left;
  }
  .accordion-summary-count {
    font-size: 18.83px !important;
    font-weight: 500 !important;
    line-height: 22.59px !important;
    text-align: center !important;
  }
  .accordion-details-title {
    font-size: 18.83px;
    font-weight: 500;
    line-height: 22.59px;
    text-align: left;
  }
  .onboardingTheGorge__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.21px;
    letter-spacing: 0.03em;
    text-align: left;
  }
  .onboardingTheGorge__subtitle {
    font-size: 16.95px;
    font-weight: 500;
    line-height: 20.33px;
    letter-spacing: 0.01em;
    text-align: left;
  }
  .onboardingTheGorge__damage {
    font-size: 17.89px;
    font-weight: 500;
    line-height: 21.46px;
    letter-spacing: 0.01em;
    text-align: left;
  }
  .industry-buttons button {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.21px;
    letter-spacing: 0.01em;
    text-align: left;
    text-transform: uppercase;
  }
  .industry-buttons .AccordionNested-helper-1, .industry-buttons .AccordionNested-helper-2 {
    display: none;
  }