@import url('https://fonts.cdnfonts.com/css/tt-lakes-neue-trial');
@import '/app/variables.module.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'TT Lakes Neue Trial', sans-serif !important;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
html,
body {
  color: #ffffff;
  background-color: $main-dark;
  font-variant-numeric: slashed-zero;
  font-family: 'TT Lakes Neue Trial', sans-serif;
}

:root {
  background-color: $main-dark;
  font-family: 'TT Lakes Neue Trial', sans-serif;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'TT Lakes Neue Trial', sans-serif;
}
.container {
  display: flex;
  max-width: 1344px;
  padding: 24px;
  width: 100%;
  max-height: 840px;
  height: 100%;
  justify-content: center;
  background: radial-gradient(
    36.85% 48.48% at 50% 50%,
    #384d4a 0%,
    rgba(56, 77, 74, 0) 100%
  );
}
.container::after {
  content: '';
  position: absolute;
  width: 1344px;
  top: 24px;
  left: 24px;
  /*background-image: url("/public/home/ContainerTop.svg");*/
}

h1 {
  font-size: 68px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 93.6px */
}
h2 {
  font-size: 46px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 67.2px */
}
h3 {
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
}
h4 {
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 45.6px */
  letter-spacing: 0.38px;
  text-transform: uppercase;
}
h5 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 40.8px */
  letter-spacing: 1.02px;
  text-transform: uppercase;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  outline: none;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  cursor: pointer;
}
.ModalButtons {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 8px;
  padding-top: 64px;
}
.ModalButtons > button {
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-transform: uppercase;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 33.6px */
  letter-spacing: 0.28px;
}
.ModalButton1 {
  border: 2px solid #fff;
  @include TypoBodySmall;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}
.Green {
  @include TypoBodyBig;

  > span > span > button {
    text-transform: uppercase;
  }
  color: $attack-green-40;
}
.AccordionNested {
  @include TypoBodyBig;
  > span > span > button {
    text-transform: uppercase;
  }
  color: $white;
  opacity: 0.6;
}

.SecondarySmall {
  border-right: 2px solid #787878;
  border-left: 2px solid #787878;
  position: relative;
  cursor: pointer;
  padding: 16px 24px;
  @include TypoBodyBig;
  &::after {
    content: '';
    width: 16px;
    position: absolute;
    height: 2px;
    background: #787878;
    bottom: 0;
    left: 0;
  }
  &::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    background: #787878;
    bottom: 0;
    right: 0;
  }
  > span {
    &::before {
      content: '';
      width: 16px;
      position: absolute;
      height: 2px;
      background: #787878;
      top: 0;
      left: 0;
    }
  }
  > span {
    &::after {
      content: '';
      position: absolute;
      width: 16px;
      height: 2px;
      background: #787878;
      top: 0;
      right: 0;
    }
  }
}
.SecondarySmallDisableButton {
  opacity: 0.4;
  border: 2px solid var(--Grayscale-Light-Gray, #999a9a);
}

.SecondarySmallDisable {
  @extend .SecondarySmall;
  opacity: 0.4;
}
.SecondarySmallShine {
  //border-right: 2px solid #ffffff;
  //border-left: 2px solid #ffffff;
  position: relative;
  cursor: pointer;
  padding: 16px 24px;
  overflow: hidden;
  color: #fff;
  opacity: 1;
  @include TypoBodyBig;
  &:focus {
    border-top: 1px solid #5ed1c5;
    border-bottom: 1px solid #5ed1c5;
    border-right: 2px solid #5ed1c5;
    border-left: 2px solid #5ed1c5;
    background: #011a17;
    color: #5ed1c5;
  }
  & > span > span::after {
    content: '';
    position: absolute;
    top: -50%; /* Position the shine above the button */
    left: -50%;
    width: 100%; /* Width must be enough to cover the entire button */
    height: 200%;
    background: linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0) 0%,
      rgb(255, 255, 255) 50%,
      rgba(255, 255, 255, 0) 75%
    );
    animation: shine 3s infinite;
  }
  &::before,
  > span::before,
  > span::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    bottom: 0;
  }
  &::before {
    right: 0;
  }
  > span::before {
    top: 0;
    left: 0;
  }
  > span::after {
    top: 0;
    right: 0;
  }
}

@keyframes shine {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}
.AccordionsWrap {
  @include flex-start;
  flex-direction: column;
  gap: 56px;
}
.TypoBodyBig {
  @include TypoBodyBig;
}
.TypoBodyBigLink {
  @include TypoBodyBig;
  color: white;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}
.Lead {
  @include set-font-size-weight(30px, 300);
  line-height: 100%; /* 43.2px */
}

a {
  text-decoration: none;
}

.MuiAccordionSummary-content.Mui-expanded.MuiAccordionSummary-contentGutters.css-eqpfi5-MuiAccordionSummary-content {
  margin: 12px 0 !important;
}
