//Colors
$red: #d80027;
$white: #fff;
$white-60: rgba(255, 255, 255, 0.6);
$white-40: rgba(255, 255, 255, 0.4);
$white-2: rgba(255, 255, 255, 0.02);
$light-gray: #999a9a;
$mid-gray: #787878;
$mid-dark-gray: #525252;
$mid-gray-background: #d9d9d9;
$main-dark-50: rgba(1, 2, 2, 0.5);
$main-dark: #010202;
$card: #080808;
$pre-black: #0f0f0f;
$black: #000;
$black-80: rgba(0, 0, 0, 0.8);
$black-60: rgba(0, 0, 0, 0.6);
$attack-green: #5ed1c5;
$attack-green-80: rgba(94, 209, 197, 0.8);
$attack-green-40: rgba(94, 209, 197, 0.4);
$attack-green-20: rgba(94, 209, 197, 0.2);
$attack-mid-dark-green: #212423;
$attack-dark-green-focus: #131e1d;
$attack-dark-green-select: #011a17;
$attack-dark-green-select-60: rgba(1, 26, 23, 0.6);
$attack-map-default: #556160;
$protect-blue: #6291ff;
$protect-blue-80: rgba(98, 145, 255, 0.8);
$protect-blue-40: rgba(98, 145, 255, 0.4);
$protect-blue-20: rgba(98, 145, 255, 0.2);
$protect-mid-dark-blue: #202124;
$protect-dark-blue-focus: #161824;
$protect-dark-blue-select: #010526;
$protect-dark-blue-select-60: rgba(1, 5, 38, 0.6);
$protect-map-default: #585966;
$unvisible: rgba(0, 0, 0, 0);

// mixins
@mixin set-font-size-weight($fontSize, $fontWeight) {
  font-size: $fontSize;
  font-weight: $fontWeight;
}
@mixin set-width-height($width, $height) {
  width: $width;
  height: $height;
}
@mixin flex-column($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@mixin flex-start {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}
//Container
@mixin containerOnly {
  display: flex;
  max-width: 1344px;
  padding: 24px;
  width: 100%;
  max-height: 840px;
  height: 100%;
  justify-content: center;
}
@mixin container {
  @include containerOnly;
  background: var(
    --Attack-BG-Gradient,
    radial-gradient(
      36.85% 48.48% at 50% 50%,
      #384d4a 0%,
      rgba(56, 77, 74, 0) 100%
    )
  );
  &::after {
    content: '';
    position: absolute;
    width: 1344px;
    top: 24px;
    left: 24px;
    //background-image: url("/public/home/ContainerTop.svg");
  }
}

@mixin attacksCtnStyles {
  width: 1344px;
  z-index: 11;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin modalCtnStyles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//Typography
@mixin TypoBodyBig {
  line-height: 120%; /* 40.8px */
  @include set-font-size-weight(18px, 500);
  letter-spacing: 0.179px;
}
@mixin TypoBodyBig_2 {
  color: $white;
  font-variant-numeric: slashed-zero;
  @include set-font-size-weight(17px, 400);
  line-height: 120%; /* 43.2px */
  letter-spacing: 0.169px;
}
@mixin TypoBodySmall {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 33.6px */
  letter-spacing: 0.28px;
}
@mixin TypoH5 {
  color: $white;
  font-variant-numeric: slashed-zero;
  line-height: 120%; /* 40.8px */
  @include set-font-size-weight(16px, 600);
  letter-spacing: 0.48px;
}

@mixin TypoH2 {
  color: $white;
  font-variant-numeric: slashed-zero;
  @include set-font-size-weight(46px, 400);
  line-height: 100%; /* 67.2px */
}

@mixin newsCardTextStyles {
  font-variant-numeric: slashed-zero;
  @include set-font-size-weight(13px, 500);
  line-height: 100%; /* 33.6px */
  letter-spacing: 0.132px;
  text-transform: uppercase;
}

@mixin keyboardLetterStyles($fontSize) {
  position: relative;
  color: $white;
  text-align: center;
  font-family: 'Roboto';
  @include set-font-size-weight($fontSize, 400);
  span {
    position: absolute;
    font-size: 14px;
    top: 6px;
    right: 4px;
  }
}

//other
@mixin resetOrSelectAllStyles {
  padding: 8px 12px;
  border: 1px solid $white;
  color: $white;
  font-variant-numeric: slashed-zero;
  @include set-font-size-weight(13px, 500);
  line-height: 120%;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}

@mixin showEllipsisInTheEnd($numOfLines, $maxWidth) {
  display: -webkit-box;
  max-width: $maxWidth;
  -webkit-line-clamp: $numOfLines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin unsetEllipsisInTheEnd {
  display: block;
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
  overflow-y: scroll;
  text-overflow: unset;
  max-width: none;
}

@mixin scrollStyles {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 30px;
  }
  &::-webkit-scrollbar-track {
    margin-block: 32px;
    border-radius: 10px;
    background: $card;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $white;
    opacity: 0.2;
    border-radius: 10px;
    border: 14px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 20px;
  }
}

@mixin blurDivStyles {
  position: fixed;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(22px);
  z-index: 17;
  top: 0;
}

@mixin AccordionSummary {
  @include flex-center;

  > span {
    color: $white;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-left: 24px;
  }
}

@mixin hideScrollBar {
  overflow-y: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

//keybord styles
@mixin keyboardBtnStyles {
  @include keyboardLetterStyles(33px);
  @include set-width-height(75px, 72px);
  border: 1px solid $white;
}
