@import '/app/variables.module.scss';

.summaryFooter {  
  .opacityOfButton {
    position: fixed;
    bottom: -10px;
    left: 320px;
  }
  .topOfBotton {
    position: fixed;
    bottom: 52px;
    left: 372px;
    z-index: 14;
  }
}
