@import '/app/variables.module.scss';

.summaryFooter {  
  .opacityOfButton {
    position: fixed;
    bottom: -146px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 16;
    pointer-events: none;
  }
  .topOfBotton {
    position: fixed;
    bottom: 50.5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 16;
    pointer-events: none;
  }
}
