@import '/app/variables.module.scss';

.summaryFooter {  
  .opacityOfButton {
    position: fixed;
    bottom: 5px;
    left: 658px;
  }
  .topOfBotton {
    position: fixed;
    bottom: 129.5px;
    left: 764px;
    z-index: 14;
  }
}
