@import '/app/variables.module';

.sidenav {
  margin-top: 30px;
  width: 0;
  position: fixed;
  z-index: 10;
  right: 0;
  background: $black-80;
  backdrop-filter: blur(10px);
  transition: 0.5s;
  padding-top: 60px;
  height: 100%;
  &Title {
    @include flex-between;
    padding: 0 16px;
  }
  &AccordionSummary {
    @include AccordionSummary;
    h3 {
      color: $mid-dark-gray;
    }
  }
  &AddConfirm {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: fixed;
    bottom: 0;
    background-repeat: no-repeat;
    height: 218px;
    width: 100%;
    z-index: 4;
    > a {
      padding: 0 32px;
      @include flex-between;
      width: 660px;
    }
    > span {
      padding: 0 32px;
    }
    &Image {
      position: absolute;
      //backdrop-filter: blur(25px);
      z-index: -1;
    }
  }
  &Square {
    @include flex-start;
    gap: 30px;
  }
  &DelayedWrraper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    > div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
    }
  }
  &Wrapper {
    display: flex;
    flex-direction: column;
    width: 328px;
    gap: 48px;
    max-height: 80vh;
    //@include scrollStyles;
    .actionSign {
      margin-left: 16px;
      position: absolute;
      top: 10px;
    }
  }
  &TimePiker{
    position: absolute;
    left: -200px;
    bottom: 300px;
    background-color: $black-60;
  }
  &DelayedDate{
    position: absolute !important;
    border: none !important;
  }
}
