@import '/app/variables.module.scss';

.title {
    position: absolute;
    top: 75px;
    left: 188px;
    color: $white;
    @include set-font-size-weight(36px, 500);
    line-height: 120%; /* 93.6px */
  }