@import '/app/variables.module.scss';

.newsCardLarge {
  @include flex-column(20px);
  .infoCtn {
    margin-top: 16px;
    @include flex-column(8px);
    h2,
    p {
      color: $white;
      font-variant-numeric: slashed-zero;
      line-height: 120%; /* 48px */
    }
    h2 {
      @include showEllipsisInTheEnd(2, 735px);
      @include set-font-size-weight(18px, 600);
      letter-spacing: 0.188px;
    }
    p {
      @include showEllipsisInTheEnd(3, 735px);
      @include set-font-size-weight(16px, 500);
      letter-spacing: 0.169px;
    }
  }

  .imgContainer {
    height: 217px;
    .newsCardImg {
      width: 100%;
      height: auto;
    }
  }

  button {
    align-self: flex-start;
    padding: 8px 12px;
    border: 2px solid $white;
    color: $white;
    @include newsCardTextStyles;
  }
}

.newsCardLarge.fromSingleNewsModal {
  .logoAndDateCtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .infoCtn {
    p {
      @include unsetEllipsisInTheEnd;
      @include scrollStyles;
      max-height: 416px;
    }
  }
  .imgContainer {
    height: 222px;
    overflow: hidden;
  }
}
