@import '/app/variables.module.scss';

.isOff,
.isOn {
  width: 48px;
  height: 8px;
  border-radius: 1px;
  margin-bottom: 16px;
}

.isOn {
  background-color: $attack-green;
}
.isOff {
  background-color: $red;
}
