@import '/app/variables.module.scss';

dialog.searchResult::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

dialog.searchResult {
  display: block;
  width: 100%;
  position: relative;
  background-color: $card;
  min-height: 137px;
  max-height: 452px;
  padding: 15px 0 15px 15px;
  border: none;
  @include scrollStyles;
  @include hideScrollBar;
  .slashes_90_degree {
    position: absolute;
    right: 0;
    top: 45px;
  }
  h5 {
    color: $white;
    font-variant-numeric: slashed-zero;
    @include set-font-size-weight(16px, 600);
    letter-spacing: 0.48px;
    line-height: 120%; /* 40.8px */
    text-transform: uppercase;
  }
}
.searchResult.displayNone {
  display: none;
}
