@import '/app/variables.module.scss';

.footer {
  .opacityOfButton {
    position: fixed;
    bottom: -4px;
    left: 320px;
  }
  .topOfBotton {
    position: fixed;
    bottom: 48px;
    left: 370px;
    z-index: 14;
  }  
}
