@import '/app/variables.module.scss';

.damageLevelInfo {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  align-items: center;
  border: 1px solid rgba(82, 82, 82, 1);
  .title {
    color: $mid-dark-gray;
    font-variant-numeric: slashed-zero;
    @include set-font-size-weight(24px, 400);
    line-height: 120%; /* 60px */
  }
  .info {
    color: $white;
    font-variant-numeric: slashed-zero;
    @include set-font-size-weight(19px, 500);
    line-height: 120%; /* 60px */
  }
  .titleAndInfo {
    display: flex;
    gap: 32px;
    align-items: center;
  }
}
