@import '/app/variables.module.scss';

.damageLevelInfo {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  align-items: center;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    left: 20px;
    top: 7px;
    width: 23px;
    height: 4px;
    background: $attack-green-80;
  }
  &Disable {
    @extend .damageLevelInfo;
    &::after {
      background: $mid-dark-gray !important;
    }
  }

  .title {
    color: $mid-dark-gray;
    font-variant-numeric: slashed-zero;
    @include set-font-size-weight(24px, 400);
    line-height: 120%; /* 60px */
  }
  .info {
    color: $white;
    font-variant-numeric: slashed-zero;
    @include set-font-size-weight(19px, 500);
    line-height: 120%; /* 60px */
  }
  .titleAndInfo {
    display: flex;
    gap: 32px;
    align-items: center;
  }
}

.damageLevelInfo.isProtecting {
  &::after {
    background: $protect-blue;
  }
}
