@import '/app/variables.module.scss';

/* components/AlphabetNav.module.scss */
.alphabetNav {
  position: absolute;
  height: 460px;  
  right: 0;
  top: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include hideScrollBar;
}

.alphabetNav.fromNotFriendly {
  height: 404px;
  top: 135px;
}

.alphabetNav::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.letter {
  position: relative;
  min-height: 48px;
  padding: 5px;
  @include set-font-size-weight(13px, 500);
  cursor: pointer;
  text-decoration: none;
  color: $mid-dark-gray;
  span {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: $mid-dark-gray;
    top: 34px;
    left: 9px;
  }
}

.letter.active {
  color: $white;
}
