@import '/app/variables.module.scss';

.main {
  display: block;
  width: 100% !important;
  height: 825px !important;
  .blur {
    @include blurDivStyles;
  }
  .blur.z_15 {
    z-index: 15;
  }
  .imgCtn {
    width: 100%;
    height: 825px;
    position: relative;
    top: 0px;
    left: 0px;
    .img {
      position: absolute;
      left: -120px;
      top: 5px;
      z-index: 9;
    }
  }
}
