@import '/app/variables.module.scss';

.main {
  display: block;
  .blur {
    @include blurDivStyles;
  }
  .blur.z_15 {
    z-index: 15;
  }
  .imgCtn {
    width: 2072px;
    height: 851px;
    position: relative;
    top: 346px;
    left: 364px;
    .img {
      position: absolute;
      left: -120px;
      top: 5px;
      z-index: 9;
    }
  }
}
