@import '/app/variables.module';

.modalData {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .key,
  .value {
    @include TypoBodyBig_2;
  }
  .key {
    color: $mid-gray;
  }
}

.launchConsequences.modalData {
  .key,
  .value {
    font-size: 19px;
    letter-spacing: unset;

  }
 .key{
   max-width: 180px;
   width: 100%;
 }
}
