@import '/app/variables.module';

.modalData {
  display: flex;
  justify-content: space-between;
  .key,
  .value {
    @include TypoBodyBig_2;
  }
  .key {
    color: $mid-gray;
  }
}

.launchConsequences.modalData {
  .key,
  .value {
    font-size: 40px;
    letter-spacing: unset;
  }

  .value {
    width: 250px;
  }
}
