@import '/app/variables.module';

.modalData {
  display: flex;
  justify-content: space-between;
  .key,
  .value {
    @include TypoBodyBig_2;
  }
  .key {
    color: $mid-gray;
  }
}

.launchConsequences.modalData {
  .key,
  .value {
    font-size: 40px;
    letter-spacing: unset;
    font-size: 18.83px;
    font-weight: 500;
    line-height: 22.59px;
    text-align: left;
    width: fit-content !important;
  }

  .value {
    width: 250px;
  }
}
