@import '/app/variables.module.scss';

.buttonContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  @include flex-center;
  z-index: 16;
  button {
    padding-top: 30px;
    padding-bottom: 34px;
    h3 {
      color: $white;
      text-align: center;
      font-variant-numeric: slashed-zero;
      @include set-font-size-weight(23px, 500);
      line-height: 120%;
      font-size: 23.54px;
      font-weight: 500;
      line-height: 28.24px;
      text-align: center;
    }
    span {
      color: $red;
    }
  }
}

.buttonContainer.fromSummary {
  bottom: 30px;
  flex-direction: column;
  gap: 10px;
  bottom: 37px;
  flex-direction: column;
  gap: 18px;
  max-width: 595px;
  left: 50%;
  transform: translateX(-50%);
  button {
    padding: 0;
    span {
      color: $attack-green;
    }
  }
  p {
    max-width: 452px;
    color: $mid-dark-gray;
    text-align: center;
    font-variant-numeric: slashed-zero;
    @include set-font-size-weight(18.8px, 500);
    line-height: 120%; /* 48px */
    font-size: 18.83px;
    font-weight: 500;
    line-height: 22.59px;
    text-align: center;
  }
}
