@import '/app/variables.module.scss';

.buttonContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  @include flex-center;
  z-index: 16;
  button {
    padding-top: 64px;
    padding-bottom: 72.5px;
    h3 {
      color: $white;
      text-align: center;
      font-variant-numeric: slashed-zero;
      @include set-font-size-weight(23px, 500);
      line-height: 120%;
    }
    span {
      color: $red;
    }
  }
}

.buttonContainer.fromSummary {
  bottom: 30px;
  flex-direction: column;
  gap: 10px;
  button {
    padding: 0;
    span {
      color: $attack-green;
    }
  }
  p {
    max-width: 452px;
    color: $mid-dark-gray;
    text-align: center;
    font-variant-numeric: slashed-zero;
    @include set-font-size-weight(18.8px, 500);
    line-height: 120%; /* 48px */
  }
}
