@import '/app/variables.module.scss';

.hideSelectionPanel {
  display: none;
}

.sectorTitle {
  padding: 24px 0 24px 0;
  color: $white;
  font-variant-numeric: slashed-zero;
  @include set-font-size-weight(38px, 400);
  line-height: 120%; /* 45.6px */
  letter-spacing: 0.38px;
  text-transform: uppercase;
}

.sectorsCtn {
  background: $card;
  .industryHeader {
    @include flex-column(15px);
    padding-left: 15px;
    padding-bottom: 15px;
    h2 {
      color: $white;
      font-variant-numeric: slashed-zero;
      text-transform: uppercase;
      @include set-font-size-weight(16px, 600);
      line-height: 120%; /* 19.205px */
      letter-spacing: 0.48px;
    }
    button {
      @include resetOrSelectAllStyles;
    }
  }
}
