@import '/app/variables.module.scss';

.selectRegionAndIndustry {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  .damage {
    max-height: 100px;
    border: 2px solid $mid-dark-gray;
  }
}
