@import '/app/variables.module.scss';

.attackCard {
  position: relative;
  background-color: $black-80;
  .attackImg {
    position: absolute;
    z-index: 12;
    top: 4px;
    left: -120px;
  }
}
