@import '/app/variables.module.scss';

.placeCard {
  width: 100%;
  padding: 24px 16px;
  display: flex;
  gap: 24px;
  align-items: center;
  cursor: pointer;
  .flagContainer {
    border-radius: 50%;
  }
  h4 {
    color: $white;
    font-variant-numeric: slashed-zero;
    font-size: 38px;
    font-weight: 400;
    line-height: 120%; /* 45.6px */
    letter-spacing: 0.38px;
    text-transform: uppercase;
    text-align: start;
  }
}

.placeCard.withRegions {
  padding: 0;
}

.placeCard.selected {
  h4 {
    color: $attack-green-40;
  }
  background-color: $attack-dark-green-select-60;
}

.placeCard.selected.isProtecting {
  h4 {
    color: $protect-blue;
  }
  background-color: $protect-dark-blue-select;
}
