@import '/app/variables.module.scss';

.placeCard {
  width: 100%;
  padding: 12px 8px;
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;
  .flagContainer {
    border-radius: 50%;
  }



  h4 {
    color: $white;
    font-variant-numeric: slashed-zero;
    @include set-font-size-weight(18px, 500);
    line-height: 120%; /* 45.6px */
    letter-spacing: 0.38px;
    text-transform: uppercase;
    text-align: start;
  }
}
.fromSideNav{
  @include flex-between;
  width: 100% !important;
  min-width: 290px;
  .MuiPaper-root-MuiAccordion-root{
    padding-left: 20px;
  }
}
.placeCard.selected {
  h4 {
    color: $attack-green;
  }
  background-color: $attack-dark-green-select-60;
}

.placeCard.selected.isProtecting {
  h4 {
    color: $protect-blue;
  }
  background-color: $protect-dark-blue-select;
}

.placeCard.withRegions {
  position: relative;
  padding: 0;
  @include set-width-height(277px, 48px);
  padding-left: 8px;
}

.placeCard.withRegions.selected {  
  border-right: 1px solid $attack-green;
  border-left: 1px solid $attack-green;
}

.placeCard.withRegions.selected.isProtecting {  
  border-color: $protect-blue;
}
