@import 'app/variables.module';
.password {
  &Wrraper {
    @include container;
    position: relative;
    z-index: 9;
    > div {
      max-width: 500px;
      width: 100%;
      padding-top: 100px;
      text-align: center;
    }
  }
  &Wrraper.withError {
    filter: blur(22px);
    position: absolute;
  }
  &Display {
    font-size: 2rem;
    height: 30px;
    letter-spacing: 0.3rem;
    border: none;
    background: transparent;
    color: white;
    display: flex;
    justify-content: center;
    gap: 28px;
    padding-top: 60px;
    >svg{
      margin-top: 13px;
    }
  }
  &Delete {
    > path:hover {
      fill: $white;
    }
  }
}
.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-top: 100px;
  button {
    width: 130px;
    height: 66px;
    font-size: 40px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    background: var(--Grayscale-Main-Dark, #010202);
  }

  button:hover {
    background: var(--Attack-Mid-Dark-Green, #212423);
  }
}
