@import "app/variables.module";
.password{
  &Wrraper{
    @include container;
    position: relative;
    >div{
      max-width: 906px;
      width: 100%;
      padding-top: 276px;
      text-align: center;
    }
 }
  &Display {
    font-size: 2rem;
    height: 30px;
    letter-spacing: 0.3rem;
    border: none;
    background: transparent;
    color: white;
    display: flex;
    justify-content: center;
    gap: 48px;
    padding-top: 180px;
    >svg{
      margin-right: 33px;
    }
  }

}
.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 140px 0 360px 0;
  button {
    width: 275px;
    height: 140px;
    font-size: 85px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    background: var(--Grayscale-Main-Dark, #010202);
  }

  button:hover {
    background: var(--Attack-Mid-Dark-Green, #212423);
  }
}







