@import '/app/variables.module.scss';

.attackWithDataCard {
  width: 100%;
  position: relative;
  padding: 15px;
  z-index: 14;
  .attackDate,
  .attackName {
    text-transform: uppercase;
    line-height: 120%; /* 40.8px */
    font-variant-numeric: slashed-zero;
  }
  .attackName {
    color: $white-60;
    @include set-font-size-weight(16px, 600);
    letter-spacing: 0.48px;
  }
  .attackDate {
    margin-top: 15px;
    color: $mid-gray;
    @include set-font-size-weight(13px, 500);
    letter-spacing: 0.132px;
    text-align: start;
  }
}

.attackWithDataCard.isActive {
  border-right: 1px solid $attack-green;
  border-left: 1px solid $attack-green;
  background: $attack-dark-green-select;
  .attackName {
    color: $white;
  }
}

.attackWithDataCard.isActive.isProtecting {
  border-color: $protect-blue;
  background: $protect-dark-blue-focus;
  color: $protect-blue;
}
