@import '/app/variables.module.scss';

.attackWithDataCard {
  width: 100%;
  position: relative;
  padding: 32px;
  z-index: 14;
  .attackDate,
  .attackName {
    text-transform: uppercase;
    line-height: 120%; /* 40.8px */
    font-variant-numeric: slashed-zero;
  }
  .attackName {
    color: $white-60;
    @include set-font-size-weight(34px, 600);
    letter-spacing: 1.02px;
  }
  .attackDate {
    margin-top: 32px;
    color: $mid-gray;
    @include set-font-size-weight(28px, 400);
    letter-spacing: 0.28px;
  }
}

.attackWithDataCard.isActive {
  border-right: 2px solid $attack-green;
  border-left: 2px solid $attack-green;
  background: $attack-dark-green-select;
  .attackName {
    color: $white;
  }
}
