@import '/app/variables.module.scss';

.blur {
  @include blurDivStyles;
}

.countdownContainer {
  padding-top: 328px;
  padding-left: 76px;
  position: relative;
  h5 {
    padding-left: 25px;
    position: relative;
    z-index: 18;
    @include set-font-size-weight(16px, 600);
    line-height: 19.21px;
    letter-spacing: 0.03em;
    text-align: left;
  }
  .timerAndAttackCtn {
    display: flex;
    gap: 206px;
    .timer {
      display: flex;
      align-items: flex-start;
      gap: 75px;
      div {
        @include set-width-height(100px, 160px);
        @include flex-center;
      }
      .time {
        position: relative;
        line-height: 120%;
        text-transform: uppercase;
        z-index: 13;
        @include set-font-size-weight(132px, 300);
        letter-spacing: -0.01em;
        text-align: left;
        .hours,
        .minutes,
        .seconds {
          color: $white-40;
          font-variant-numeric: slashed-zero;
          text-transform: uppercase;
          @include TypoBodySmall;
          @include set-font-size-weight(13px, 500);
          position: absolute;
          bottom: 0;
          right: 13px;
          line-height: 15.82px;
          letter-spacing: 0.01em;
          text-align: left;
        }
      }
    }
    .timer.z_17 {
      position: relative;
      z-index: 18;
    }
    .attack {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 30px 0;
      z-index: 13;
      gap: 36px;
      h2.attackTitle {
        @include TypoH2;
      }
    }
  }
}

.top {
  position: fixed;
  top: 0px;
  left: 20px;
  z-index: 9;
}

.bottom {
  position: fixed;
  bottom: 26px;
  left: 20px;
  z-index: 13;
}
