@import '/app/variables.module.scss';

.blur {
  @include blurDivStyles;
}

.countdownContainer {
  padding-top: 300px;
  padding-left: 76px;
  position: relative;
  h5 {
    padding-left: 25px;
    position: relative;
    z-index: 18;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.21px;
    letter-spacing: 0.03em;
    text-align: left;
  }
  .timerAndAttackCtn {
    display: flex;
    gap: 90px;
    .timer {
      display: flex;
      align-items: flex-start;
      gap: 75px;
      div {
        width: 397px;
        height: 336px;
        @include flex-center;
      }
      .time {
        text-align: center;
        position: relative;
        font-size: 280px;
        font-style: normal;
        font-weight: 300;
        line-height: 120%; /* 336px */
        letter-spacing: -2.8px;
        text-transform: uppercase;
        z-index: 13;
        // min-width: 415px;

        font-size: 131.8px;
        font-weight: 300;
        line-height: 158.16px;
        letter-spacing: -0.01em;
        text-align: left;
        .hours,
        .minutes,
        .seconds {
          color: $white-40;
          font-variant-numeric: slashed-zero;
          text-transform: uppercase;
          @include TypoBodySmall;
          position: absolute;
          bottom: 0;
          right: 13px;
          font-size: 13.18px;
          font-weight: 500;
          line-height: 15.82px;
          letter-spacing: 0.01em;
          text-align: left;
        }
      }
    }
    .timer.z_17 {
      position: relative;
      z-index: 18;
    }
    .attack {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 70px 0;
      z-index: 13;
      h2.attackTitle {
        @include TypoH2;
      }
    }
  }
}

.top {
  position: fixed;
  top: 0px;
  left: 20px;
  z-index: 9;
}

.bottom {
  position: fixed;
  bottom: 26px;
  left: 20px;
  z-index: 13;
}
