@import '/app/variables.module.scss';

.onBackBtn {
  .backArrow,
  .backBtnShape {
    position: fixed;
    z-index: 14;
  }

  .backArrow {
    top: 374px;
    left: 28px;
  }
  .backBtnShape {
    top: 236px;
    left: 11px;
  }
  span {
    color: $white-40;
    text-align: center;
    @include set-font-size-weight(10px, 300);
    line-height: 120%; /* 26.4px */
    letter-spacing: 0.621px;
    position: fixed;
    z-index: 9;
    left: 34px;
    top: 438px;
  }
}
