@import '/app/variables.module.scss';

.onBackBtn {
  .backArrow,
  .backBtnShape {
    position: fixed;
    z-index: 14;
  }

  .backArrow {
    top: 865px;
    left: 57px;
  }
  .backBtnShape {
    top: 568px;
    left: 23px;
  }
  span {
    color: $white-40;
    text-align: center;
    @include set-font-size-weight(22px, 300);
    line-height: 120%; /* 26.4px */
    letter-spacing: 1.32px;
    position: fixed;
    z-index: 9;
    left: 65px;
    top: 1000px;
  }
}
