@import '/app/variables.module.scss';

.css-yw020d-MuiAccordionSummary-expandIconWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
}

.css-15v22id-MuiAccordionDetails-root {
  overflow: auto;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.css-15v22id-MuiAccordionDetails-root::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

