@import '/app/variables.module.scss';

.arrow {
  position: absolute;
  bottom: -20px;
  right: -23px;
}

.arrow.expanded {
  bottom: 10px;
  right: 10px;
}

.arrow.fromIndustry {
  position: static;
}

.titleAndCountCts {
  position: relative;
  display: flex;
  gap: 12px;
  align-items: center;
  .minusButton {
    position: absolute;
    top: 0;
    left: 274px;
  }
  .title {
    font-variant-numeric: slashed-zero;
    @include set-font-size-weight(18px, 500);
    letter-spacing: 0.179px;
    max-width: 250px;
  }
  .title.fromSideNav {
    @include text-color-letter-spacing-etc($white, 0.179px);
    @include set-font-size-weight(18px, 500);
    text-transform: unset;
  }
  .title.topCapitalization {
    font-size: 16px;
  }

  .title.highlighted {
    color: $attack-green;
  }

  .title.title.highlighted.isProtecting {
    color: $protect-blue;
  }

  .count {
    max-height: 22.2px;
    position: relative;
    color: $attack-green;
    font-variant-numeric: slashed-zero;
    @include set-font-size-weight(16px, 500);
    line-height: 120%; /* 19.205px */
    letter-spacing: 0.16px;
    padding: 0 5px;
    padding-top: 3px;
    border-left: 1px solid;
    border-right: 1px solid;
  }
  .count.isProtecting {
    color: $protect-blue;
  }
}

.plusIcon,
.closeEventIcon {
  position: absolute;
  right: -49px;
  top: 8px;
}

.subIndustryCount {
  @include text-color-letter-spacing-etc($mid-dark-gray, unset);
  @include set-font-size-weight(19px, 500);
  padding-left: 38px;
}

.eventName {
  @include text-color-letter-spacing-etc($mid-gray, unset);
  @include set-font-size-weight(19px, 500);
  padding-left: 14px;
  margin-bottom: 10px;
}
