@import '/app/variables.module.scss';

.css-15v22id-MuiAccordionDetails-root {
  padding-right: 8px !important;
}

.css-1f773le-MuiButtonBase-root-MuiAccordionSummary-root {
  min-height: 43px !important;
  max-height: 44px;
}

.css-eqpfi5-MuiAccordionSummary-content {
  margin: 0 !important;
}

.css-eqpfi5-MuiAccordionSummary-content.Mui-expanded {
  margin: 0 !important;
}

.css-qhxjgx-MuiPaper-root-MuiAccordion-root {
  box-shadow: none !important;
}

.css-qhxjgx-MuiPaper-root-MuiAccordion-root::before {
  width: 354px !important;
}

.css-14knw26-MuiPaper-root-MuiAccordion-root {
  box-shadow: none !important;
}
