@import '/app/variables.module';

.modalContainer {
  display: block;
  position: relative;
  padding: 22px;
  width: 314px;
  background-color: $pre-black;
  z-index: 999;

  .closeXButton {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.modalContainer.singleNews {
  width: 536px;
  padding: 38px 23px 0 23px;
  background-color: $card;
  @include modalCtnStyles;
  border: none;
}

.modalContainer.infoModal {
  position: absolute;
  left: 337px;
  top: 2px;
  padding: 24px;
  width: 230px;
  border: none;
}
