.styledLabel {
  display: inline-block;
  position: relative;
  width: 45px;
  height: 13px;
}

.switchInput {
  opacity: 0;
  width: 0;
  height: 0;
}

.switchSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.switchSlider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  bottom: -5px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .switchSlider {
  background-color: #5ED1C5;
}

input:checked + .switchSlider:before {
  transform: translateX(26px);
}
