@import '/app/variables.module';

.styledLabel {
  display: inline-block;
  position: relative;
  width: 45px;
  height: 6px;
}

.switchInput {
  opacity: 0;
  width: 0;
  height: 0;
}

.switchSlider, .switchSliderBlue {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#0F0F0F ;
  transition: 0.4s;
}

.switchSlider:before, .switchSliderBlue:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  bottom: -9px;
  background-color: #787878;
  transition: 0.4s;
}
input:checked + .switchSlider {
  background-color: $attack-green;
}
input:checked + .switchSliderBlue {
  background-color: $protect-blue !important;
}

input:checked + .switchSlider:before, input:checked + .switchSliderBlue:before{
  background-color: white;
}

input:checked + .switchSlider:before, input:checked + .switchSliderBlue:before {
  transform: translateX(26px);
}
