@import '/app/variables.module.scss';

.SecondarySmall.selected {
  .helper_1,
  .helper_2 {
    background: $attack-green;
  }
  &::after {
    background: $attack-green;
  }
  &::before {
    background: $attack-green;
  }
  > span {
    &::before {
      background: $attack-green;
    }
  }
  > span {
    &::after {
      background: $attack-green;
    }
  }
}

.SecondarySmall.selected.isProtecting {
  .helper_1,
  .helper_2 {
    background: $protect-blue;
  }
  &::after {
    background: $protect-blue;
  }
  &::before {
    background: $protect-blue;
  }
  > span {
    &::before {
      background: $protect-blue;
    }
  }
  > span {
    &::after {
      background: $protect-blue;
    }
  }
}

.container {
  flex-wrap: wrap;
  gap: 10px;
  .SecondarySmallDisable {
    border: 2px solid #fff;
    width: 104px;
    font-size: 13.18px;
    font-weight: 500;
    line-height: 15.82px;
    letter-spacing: 0.01em;
    text-align: left;
    opacity: 0.4;
  }
  .secondarySmallDisable.selected {
    background-color: $attack-dark-green-select-60;
    border-color: $attack-green;
    .nameAndCloseIcon {
      display: flex;
      gap: 10px;
      align-items: center;
    }
    .optionName {
      color: $attack-green;
    }
  }
  .secondarySmallDisable.selected.isProtecting {
    .optionName {
      color: $protect-blue;
    }
    background-color: $protect-dark-blue-select;
    border-color: $protect-blue;
  }
}
