@import '/app/variables.module.scss';

.SecondarySmall {
  border-right: 2px solid #787878;
  border-left: 2px solid #787878;
  position: relative;
  cursor: pointer;
  padding: 8px 15px;  
  @include TypoBodyBig;  
  &::after {
    content: '';
    width: 16px;
    position: absolute;
    height: 2px;
    background: #787878;
    bottom: 0;
    left: 0;
  }
  &::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    background: #787878;
    bottom: 0;
    right: 0;
  }
  > span {
    &::before {
      content: '';
      width: 16px;
      position: absolute;
      height: 2px;
      background: #787878;
      top: 0;
      left: 0;
    }
  }
  > span {
    &::after {
      content: '';
      position: absolute;
      width: 16px;
      height: 2px;
      background: #787878;
      top: 0;
      right: 0;
    }
  }
}

.container {
  flex-wrap: wrap;
  gap: 10px;
  .SecondarySmallDisable{
    border: 2px solid #FFF;
    width: 104px;
    font-size: 13.18px;
    font-weight: 500;
    line-height: 15.82px;
    letter-spacing: 0.01em;
    text-align: left;
    opacity: 0.4;
  }
  .secondarySmallDisable.selected {
    background-color: $attack-dark-green-select-60;
    .optionName {
      color: $attack-green;
    }
  }
  .secondarySmallDisable.selected.isProtecting {
    .optionName {
      color: $protect-blue;
    }
    background-color: $protect-dark-blue-select;
  }
}
