@import '/app/variables.module.scss';

.loader {
  position: fixed;
  width: 100%;
  top: 175px;
  left: 422px;

  > img {
    position: absolute;
  }

  > .smallCircle {
    top: 120px;
    left: 123px;
    animation: rotate-cw linear 4s infinite;
  }
  > .mediumCircle {
    top: 54px;
    left: 55px;
    animation: rotate-ccw linear 5s infinite;
  }
  > .bigCircle {
    top: 7px;
    animation: rotate-cw linear 6s infinite;
  }
  > .light {
    top: -300px;
    right: 1112px;
  }
  > .target {
    top: 120px;
    left: 114px;
  }

  &.loaderStop {
    > .smallCircle,
    > .mediumCircle,
    > .bigCircle {
      animation: none;
    }
  }

  @keyframes rotate-cw {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes rotate-ccw {
    to {
      transform: rotate(-360deg);
    }
  }
}
