@import '/app/variables.module.scss';

.loader {
  position: fixed;
  width: 100%;
  top: 175px;
  left: 422px;

  @keyframes rotate-cw {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes rotate-ccw {
    to {
      transform: rotate(-360deg);
    }
  }

  > img:nth-child(1) {
    animation: rotate-cw linear 4s infinite;
  }
  > img:nth-child(2) {
    animation: rotate-ccw linear 5s infinite;
  }
  > img:nth-child(3) {
    top: 185px;
    animation: rotate-cw linear 6s infinite;
  }
  .mediumCircle,
  .smallCircle {
    position: absolute;
  }
  .smallCircle {
    top: 120px;
    left: 123px;
  }
  .mediumCircle {
    left: 55px;
    top: 54px;
  }
  .light {
    position: fixed;
    top: 0;
    left: 0;
  }
  .target {
    position: absolute;
    top: 120px;
    left: 114px;
  }
}
